[access]
	inheritFrom = All-Projects
[project]
	description = Stand-alone database microservice, provides the database services for each VF-C component
[access "refs/*"]
	owner = group ldap/onap-gerrit-vfc-nfvo-db-committers
	owner = group saml/onap-gerrit-vfc-nfvo-db-committers
	read = group GitHub Replication
